html {
    background: #fff;
    color: #333333
}

h1.title {
    font-size: 40px;
    font-weight: bold;
}

article {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    max-width: 700px;
    padding: 0px 10px;
    font-size: 22px;
    font-family: Alegreya, Georgia, serif;
}

img {
    max-width: 100%;
}

pre {
    overflow-x: auto;
    line-height: 1;
}

code {
   font-family: "Cutive Mono", monospace;
}

a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #333333;
}

a:hover {
    color: #666;
    background: gray;
}

blockquote {
    margin-left: 1.3em;
    font-size: 93%;
    line-height: 1.35;
}

@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya'), local('Alegreya-Regular'), url(fonts/Alegreya-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    src: local('Alegreya Bold'), local('Alegreya-Bold'), url(fonts/Alegreya-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 400;
    src: local('Alegreya Italic'), local('Alegreya-Italic'), url(fonts/Alegreya-Italic.woff) format('woff');
}
@font-face {
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 700;
    src: local('Alegreya Bold Italic'), local('Alegreya-BoldItalic'), url(fonts/Alegreya-BoldItalic.woff) format('woff');
}
@font-face {
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Cutive Mono'), local('CutiveMono-Regular'), url(fonts/CutiveMono-Regular.woff) format('woff');
}